## Importado de los datos

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [10]:
# Importo el csv desde una URL y lo guardo

url = 'https://raw.githubusercontent.com/4GeeksAcademy/logistic-regression-project-tutorial/main/bank-marketing-campaign-data.csv'

data = pd.read_csv(url, sep=';' )

# Guardo el archivo
data.to_csv('../data/raw/Data.csv', index = False )

## Analisis de datos

#### Primeras 10 columnas para contextualizar el Dataframe

In [ ]:
data.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

### La siguiente informacion la usamos para contextualizar y saber que columnas son importantes o no

In [14]:
data.shape

(41188, 21)

In [27]:
data.duplicated().sum()

np.int64(12)

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41188 non-null  int64
 1   job             41188 non-null  object
 2   marital         41188 non-null  object
 3   education       41188 non-null  object
 4   default         41188 non-null  object
 5   housing         41188 non-null  object
 6   loan            41188 non-null  object
 7   contact         41188 non-null  object
 8   month           41188 non-null  object
 9   day_of_week     41188 non-null  object
 10  duration        41188 non-null  int64
 11  campaign        41188 non-null  int64
 12  pdays           41188 non-null  int64
 13  previous        41188 non-null  int64
 14  poutcome        41188 non-null  object
 15  emp.var.rate    41188 non-null  float64
 16  cons.price.idx  41188 non-null  float64
 17  cons.conf.idx   41188 non-null  float64
 18  euribor3m       41188 non-null  float64
 19  nr.employed     41188 non-null  float64
 20  y               41188 non-null  object
dtypes: float64(5), int64(5), object(11)
memory usage: 6.6+ MB

In [32]:
# Compruebo duplicados por cada una de las columnas

def comprobar_dup(dataframe):
    duplicados = {col: int(dataframe[col].duplicated().sum()) for col in dataframe.columns}
    return duplicados

comprobar_dup(data)

{'age': 41110,
 'job': 41176,
 'marital': 41184,
 'education': 41180,
 'default': 41185,
 'housing': 41185,
 'loan': 41185,
 'contact': 41186,
 'month': 41178,
 'day_of_week': 41183,
 'duration': 39644,
 'campaign': 41146,
 'pdays': 41161,
 'previous': 41180,
 'poutcome': 41185,
 'emp.var.rate': 41178,
 'cons.price.idx': 41162,
 'cons.conf.idx': 41162,
 'euribor3m': 40872,
 'nr.employed': 41177,
 'y': 41186}

In [ ]:
# Quitamos duration, day_of_the_week, month, previous, previous, nr.employed